# nixpacks.toml
[phases.setup]
nixPkgs = [
    "php84",
    "php84Packages.composer",
    "php84Extensions.curl",
    "php84Extensions.mbstring",
    "php84Extensions.xml",
    "php84Extensions.pdo",
    "php84Extensions.pdo_mysql",
    "php84Extensions.openssl",
    "php84Extensions.tokenizer",
    "php84Extensions.mysqlnd"
]

[phases.install]
cmds = [
    "composer install --no-dev --optimize-autoloader",
    "php artisan key:generate"
]

[start]
cmd = "php artisan migrate --force && php artisan serve --host=0.0.0.0 --port=$PORT"